:root {
  --seafoam: #6D8C87;
  --gray: #404040;
  --magenta: #8F0458;
  --sage: #ACB3AB;
}

body {
  background-color: offwhite;
  margin: 0;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(218, 226, 230);
  color: white;
  margin: 0;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font: 1em sans-serif;
}

/* ABOUT_ME */
.about{
  background-color: gainsboro;
  box-sizing: border-box;
  padding: 40px 5px 30px 5px;
  display: flex;

}

#portfolio-picture{
  border-radius: 50%;
  height: 400px;
  width: 400px;
  /* object-fit: cover; */
}
#about-me{
  text-align: center;
  background-color: gray;
  color: white;
}
/* SKILLS */
.skills{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  
}

/* .social-link{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font: 1em sans-serif;
} */

/* CONTACTS */
.contacts{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: white;
  background:rgb(116, 185, 219)
}