:root {
  --seafoam: #6D8C87;
  --gray: #404040;
  --magenta: #8F0458;
  --sage: #ACB3AB;
}

body {
  background-color: offwhite;
  margin: 0;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(218, 226, 230);
  color: white;
  margin: 0;
  /* position: fixed;
  width: 100%;
  top: 0; */

  
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font: 1em sans-serif;
  
}
.nav-links a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
/* ABOUT_ME */
.about{
  background-color: gainsboro;
  box-sizing: border-box;
  padding: 40px 5px 30px 5px;
  display: flex;

}

h3{
  margin: 0;
}

h1, h2, h3, h4{
  font-family: "Shippori mincho";

}
#portfolio-picture{
  border-radius: 50%;
  border: 5px solid var(--sage);
  height: 400px;
  width: 400px;
}

/* #portfolio-picture:hover{
  border: 5px solid var(--sage);


} */


#about-me{
  text-align: center;
  /* background-color: gray; */
  color: white;
}

#pb{
  display: flex;
  background-color: var(--seafoam);
  color: white;
  width: 100%;
}


#pb p{
  margin: 0 auto;
  width: 500px;
}

/* SKILLS */
.skills{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; */
  padding: 50px;
  background-color: #ACB3AB;
  margin: 0;
  box-sizing: border-box;
  
}

.skills-icons{
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  
  
  
}

.skills-icons li{
  display: flex;
  list-style: none;
  text-align: center;
  width: 25%;
  padding: 10px;
  font-size: 20px;
  color: whitesmoke;
  flex-direction: column;
  
  
}

/* .social-link{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font: 1em sans-serif;
} */



/* PROJECTS */
.projects-container{
  background-color: #f4f4f4;
  align-items: center;
}
h3{
  text-align: center;
}


.projects-ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;

}

.projects-ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 80%;
 

}



.projects-ul img{
  display: flex;
  flex-direction: row;
  width: 50vmin;
  height: 40vmin;
  min-width: 350px;
  min-height: 250px;
  margin: 20px;
  object-fit: cover;
}

.icon-ul{
  display: flex; 
  width: 100px;
  font-size: 30px;
  justify-content: space-between;
  color: white;
}

/* need help */
.lag{
  display: flex; 
  width: 60%;
  justify-content: space-between;
  
  
}


.fab{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* CONTACTS */
.footer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: white;
  background:rgb(145, 152, 155);
  margin: 0;
  
}

li{
  list-style-type: none;
  display: flex;
  align-items: center;
  min-height: 2vh;
  flex-direction: row;
}

.footer-ul{
  display: flex; 
  width: 80px;
  font-size: 30px;
  justify-content: space-between;

}